name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  library:
    name: macOS
    strategy:
      matrix:
        xcode: ['26.2']
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v5
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: swift test --disable-experimental-prebuilts
      - name: Build release
        run: swift build -c release --build-tests --disable-experimental-prebuilts

  linux:
    name: Linux
    strategy:
      matrix:
        swift:
          - '6.1'
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v5
      - name: Install SQLite
        run: apt update && apt -y install libsqlite3-dev
      - name: Build
        run: swift build --jobs 1
